<style>
  /*animated cards*/
.animated-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #efe5e5; /* Slightly lighter yellow on hover */
}

.scrollable-card {
    max-height: 200px; !important;
    overflow-y: auto;
    box-sizing: border-box; /* Ensures padding doesn't increase height */
    padding-right: 10px; /* Prevents scrollbar from overlapping content */
    flex-grow: unset !important;
}

 .blinking-button {
    background-color: lightgrey; /* Blue background */ */
    color: white; /* White text */
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    animation: blink 1.5s infinite; /* Blink effect */
    margin-right: 10px; /* Space between button and emoji */
    border: white 2px solid;
  }

  /* Blink animation */
  @keyframes blink {
    0% { opacity: 2; }
    50% { opacity: 0.5; }
    100% { opacity:1; }
  }

  /* Hover effect */
  .blinking-button:hover {
    background-color: lightgreen; /* Darker blue background on hover */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
  }

  /* Container to align button and emoji */
  .button-container {
    display: flex;
    align-items: center;
  }

  /* Emoji styling */
  .education-emoji {
    font-size: 24px; /* Size of the emoji */
  }
</style>